!source/anchor/*
!source/bootstrap/*
!source/fancybox/*
!source/font-awesome/*
!source/github-markdown/*
!source/jquery/*
!source/katex/*
!source/mdbootstrap/*
!source/popper/*
!source/prettify/*
!source/smooth-scroll/*
!source/tocbot/*
!source/typed/*